/* Write your code here: */
h1, h2{ /* Grouping example */
    color: blueviolet;
}

.box > p{ /* Parent-child inheritance example */
    color: firebrick;
}

.box li{ /* Descendant inheritance example */
    color: blue;
}

li.done{ /* Chaining example */
    color: seagreen;
}

ul p.done{ /* Combining Combiners example */
    font-size: 0.5rem;
}